block variables 

doctype html 
html
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="script.js") 
        script(src="jquery.js") 
    body 
        navbar(id="top-nav" class="container-fluid")
            div(class="row")
                a(class="col-12 col-md-3 text-center text-md-right" href=".")
                    img(id="logo-image" src='logo_FollowBee.png' alt="FollowBee logo")
                div(class="col-12 col-md-9 mt-1 mt-md-4 pr-0" id="navbar-search")
                    form(id="search-form" action="/" method="GET" name="searchForm")
                        input(id="city" name="city" type="text" placeholder="Search location by city" aria-label="Search" )
                        button(type="submit" class="btn" id="search-btn")
                            i(class="fa-solid fa-magnifying-glass fa-sm")
                    p(id="warning" class="text-center text-md-left text-danger")
        main 
            block layout-content
        footer 
            p(class="text-center") copyright &copy; FollowBee 2022. Sunny Chung