@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Nunito:wght@400;500;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

input[type=text], .category, footer{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

a:link, a:visited, a:hover,a:active{
    text-decoration: none;
    color:black;
}


.a-card:hover {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(87, 87, 87, 0.2);
}

/*==== LAYOUT - Navbar ====*/
#logo-image {
    width:80px;
}

/* #top-nav{
    border-bottom: 8px solid #f8d151;
} */

#search-form{
    width:80%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #f8d151;
    position:relative;
}

#search-btn{
    background-color: #fae5a0;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    position:absolute;
    right:10px;
    top:5px;
}

.fa-magnifying-glass{
    color:grey;
}

#search-btn:hover {
    background-color: #f8d151;
}

input[type=text],select{  
    padding: 8px;
    border:none;
    border-radius: 15px;
    box-shadow: none;
    width: 70%;
}

input:focus{
    outline:none;
}

#warning{
    font-size: 12px;
    display:none;
    color:red;
}


@media only screen and (max-width: 768px){
    #search-form{
        width:100%;
    }
}

/*===category-selection===*/
ul{
    list-style-type: none;
    padding:0;
    margin:0;  
    background-color: #fceec1;
    width: fit-content;
    border-radius: 20px;
}
li{
    display: inline-block;
}

.category:hover{
    cursor: pointer;
}

#category-default{
    font-weight: bold;
    background-color: #f8d151;
    box-shadow: 0 2px 5px rgba(87, 87, 87, 0.2);
}


/*===category-selection===*/
#category2 {
    display: none;
}

.category{
    border-radius: 20px;
}



/*----category-content----*/

.category-content p{
    margin: 10px;
}


.result-image {
   border-radius: 20px;
}




.icon-text i{
    color:#f8d151;
}

.icon-text p{
    font-size: 12px;
}

th,td{
    border: 1px solid red;
}

